.symbols {
    display: flex;
    flex-direction: column;

    min-width: 500px;
    min-height: 365px;
    padding: 30px;


    .symbolsRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px 0;
    }
}