@import '../../style/mixin.scss';

.symbols {
    display: flex;
    flex-direction: column;
    
    min-width: 388px;
    min-height: 298px;
    padding: 20px 40px;
    
    font-size: 13px;

    .symbolsRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0;
    }

    @include breakpoint(extralargedesktop) {
        min-width: 488px;
        min-height: 372px;
        padding: 25px 50px;
        font-size: 16px;

        .symbolsRow {
            gap: 25px;
        }
    }

    @include breakpoint(desktop) {
        min-width: 202px;
        min-height: 178px;
        padding: 14px 24px;
        font-size: 8px;

        .symbolsRow {
            gap: 14px;
        }
    }
}