@import "../../style/mixin.scss";

.diceWrapper {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    flex-grow: 1;
    // border: 1px solid;
    width: 100%;
    margin-top: 5px;

    .row {
        flex-grow: 1;
        margin: 0;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .diceBottom {
        display: inline-flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 8px;
    }


    .diceImg {
        flex-grow: 2;
        svg {
            width: 72px;
            height: 72px;
        }
    }

    .diceInput {
        label {
            font-weight: bold;
            font-size: 10px;
            color: var(--color-dustyGray);
        }
        span {
            font-weight: 400;
        }
        input {
            width: 30px;
            height: 24px;
            margin-left: 15px;
            text-align: center;
            padding: 0;
        }
    }

    .diceOutput {
        // width: 1286px;
        // // transform: scale(0.135) translate(-310%, 0%);
        // height: 24px;
        font-size: 3.75px;
    }

    .dice {
        align-items: center;
        display: inline-flex;
        // display: grid;
        // grid-gap: 2em;
        // grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
        // grid-template-rows: auto;
        justify-items: center;
        // padding: 2em;
        perspective: 600px;
        // margin: 3em;
    }       
    .die-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 3em;//6em;
        list-style-type: none;
        transform-style: preserve-3d;
        width: 0;//6em;
        // transform: scale(.3);
        margin: 0px;
        transform: translateX(-9em) translateY(-2em);
    }
    .even-roll {
        transition: transform 1.25s ease-out;
    }
    .odd-roll {
        transition: transform 1.25s ease-out;
    }
    .die-item {
        background-color: var(--color-mercury);
        border-radius: 1em;
        box-shadow: inset -0.15em 0.15em 0.5em var(--color-black_3), inset 0.35em -0.15em 0.25em var(--color-black_1);
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
        padding: 1em;
        width: 100%;
        // transform: scale(.5);
    }
    .dot {
        align-self: center;
        background-color: var(--color-black);
        border-radius: 50%;
        // box-shadow: inset -0.15em 0.15em 0.25em var(--color-black_3);
        display: block;
        height: 1.25em;
        justify-self: center;
        width: 1.25em;
    }
    .even-roll[data-roll="1"] {
        transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg) translateX(-9em) translateY(-2em);
    }
    .even-roll[data-roll="2"] {
        transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg) translateX(-9em) translateY(-2em);
    }
    .even-roll[data-roll="3"] {
        transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg) translateX(-9em) translateY(-2em);
    }
    .even-roll[data-roll="4"] {
        transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg) translateX(-9em) translateY(-2em);
    }
    .even-roll[data-roll="5"] {
        transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg) translateX(-9em) translateY(-2em);
    }
    .even-roll[data-roll="6"] {
        transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg) translateX(-9em) translateY(-2em);
    }
    .odd-roll[data-roll="1"] {
        transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg) translateX(-9em) translateY(-2em);
    }
    .odd-roll[data-roll="2"] {
        transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg) translateX(-9em) translateY(-2em);
    }
    .odd-roll[data-roll="3"] {
        transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg) translateX(-9em) translateY(-2em);
    }
    .odd-roll[data-roll="4"] {
        transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg) translateX(-9em) translateY(-2em);
    }
    .odd-roll[data-roll="5"] {
        transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg) translateX(-9em) translateY(-2em);
    }
    .odd-roll[data-roll="6"] {
        transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg) translateX(-9em) translateY(-2em);
    }
    [data-side="1"] {
        transform: rotate3d(0, 0, 0, 90deg) translateZ(4em);
    }
    [data-side="2"] {
        transform: rotate3d(-1, 0, 0, 90deg) translateZ(4em);
    }
    [data-side="3"] {
        transform: rotate3d(0, 1, 0, 90deg) translateZ(4em);
    }
    [data-side="4"] {
        transform: rotate3d(0, -1, 0, 90deg) translateZ(4em);
    }
    [data-side="5"] {
        transform: rotate3d(1, 0, 0, 90deg) translateZ(4em);
    }
    [data-side="6"] {
        transform: rotate3d(1, 0, 0, 180deg) translateZ(4em);
    }
    [data-side="1"] .dot:nth-of-type(1) {
        grid-area: five;
    }
    [data-side="2"] .dot:nth-of-type(1) {
        grid-area: one;
    }
    [data-side="2"] .dot:nth-of-type(2) {
        grid-area: nine;
    }
    [data-side="3"] .dot:nth-of-type(1) {
        grid-area: one;
    }
    [data-side="3"] .dot:nth-of-type(2) {
        grid-area: five;
    }
    [data-side="3"] .dot:nth-of-type(3) {
        grid-area: nine;
    }
    [data-side="4"] .dot:nth-of-type(1) {
        grid-area: one;
    }
    [data-side="4"] .dot:nth-of-type(2) {
        grid-area: three;
    }
    [data-side="4"] .dot:nth-of-type(3) {
        grid-area: seven;
    }
    [data-side="4"] .dot:nth-of-type(4) {
        grid-area: nine;
    }
    [data-side="5"] .dot:nth-of-type(1) {
        grid-area: one;
    }
    [data-side="5"] .dot:nth-of-type(2) {
        grid-area: three;
    }
    [data-side="5"] .dot:nth-of-type(3) {
        grid-area: five;
    }
    [data-side="5"] .dot:nth-of-type(4) {
        grid-area: seven;
    }
    [data-side="5"] .dot:nth-of-type(5) {
        grid-area: nine;
    }
    [data-side="6"] .dot:nth-of-type(1) {
        grid-area: one;
    }
    [data-side="6"] .dot:nth-of-type(2) {
        grid-area: three;
    }
    [data-side="6"] .dot:nth-of-type(3) {
        grid-area: four;
    }
    [data-side="6"] .dot:nth-of-type(4) {
        grid-area: six;
    }
    [data-side="6"] .dot:nth-of-type(5) {
        grid-area: seven;
    }
    [data-side="6"] .dot:nth-of-type(6) {
        grid-area: nine;
    }
    @include breakpoint(medium) {

        margin-top: 20px;
        
        .diceOutput {
            font-size: 5px;
        }
        .diceInput {
            label {
                font-size: 17px;
            }
            input {
                width: 42px;
                height: 35px;
                margin-left: 15px;
                font-size: 20px;
            }
        }
        .diceBottom {
            margin-top: 40px;
            gap: 14px;
        }


        .die-list {
            transform: translateX(-8em) translateY(-2em);
        }

        .even-roll[data-roll="1"] {
            transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg) translateX(-8em) translateY(-2em);
        }
        .even-roll[data-roll="2"] {
            transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg) translateX(-8em) translateY(-2em);
        }
        .even-roll[data-roll="3"] {
            transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg) translateX(-8em) translateY(-2em);
        }
        .even-roll[data-roll="4"] {
            transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg) translateX(-8em) translateY(-2em);
        }
        .even-roll[data-roll="5"] {
            transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg) translateX(-8em) translateY(-2em);
        }
        .even-roll[data-roll="6"] {
            transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg) translateX(-8em) translateY(-2em);
        }
        .odd-roll[data-roll="1"] {
            transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg) translateX(-8em) translateY(-2em);
        }
        .odd-roll[data-roll="2"] {
            transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg) translateX(-8em) translateY(-2em);
        }
        .odd-roll[data-roll="3"] {
            transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg) translateX(-8em) translateY(-2em);
        }
        .odd-roll[data-roll="4"] {
            transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg) translateX(-8em) translateY(-2em);
        }
        .odd-roll[data-roll="5"] {
            transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg) translateX(-8em) translateY(-2em);
        }
        .odd-roll[data-roll="6"] {
            transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg) translateX(-8em) translateY(-2em);
        }

    }
    @include breakpoint(large) {

        margin-top: 35px;

        .diceOutput {
            font-size: 6.35px;
        }
        .diceInput {
            label {
                font-size: 21px;
            }
            input {
                width: 56px;
                height: 45px;
                margin-left: 15px;
                font-size: 27px;
            }
        }
        .diceBottom {
            margin-top: 60px;
            gap: 20px;
        }




        .die-list {
            transform: translateX(-7em) translateY(-2em);
        }

        .even-roll[data-roll="1"] {
            transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg) translateX(-7em) translateY(-2em);
        }
        .even-roll[data-roll="2"] {
            transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg) translateX(-7em) translateY(-2em);
        }
        .even-roll[data-roll="3"] {
            transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg) translateX(-7em) translateY(-2em);
        }
        .even-roll[data-roll="4"] {
            transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg) translateX(-7em) translateY(-2em);
        }
        .even-roll[data-roll="5"] {
            transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg) translateX(-7em) translateY(-2em);
        }
        .even-roll[data-roll="6"] {
            transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg) translateX(-7em) translateY(-2em);
        }
        .odd-roll[data-roll="1"] {
            transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg) translateX(-7em) translateY(-2em);
        }
        .odd-roll[data-roll="2"] {
            transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg) translateX(-7em) translateY(-2em);
        }
        .odd-roll[data-roll="3"] {
            transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg) translateX(-7em) translateY(-2em);
        }
        .odd-roll[data-roll="4"] {
            transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg) translateX(-7em) translateY(-2em);
        }
        .odd-roll[data-roll="5"] {
            transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg) translateX(-7em) translateY(-2em);
        }
        .odd-roll[data-roll="6"] {
            transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg) translateX(-7em) translateY(-2em);
        }
    }
}
