.commonTimer {
    display: inline-flex;

    .group {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: center;
        label {
        //     position: absolute;
        //     bottom: -20px;
            width: 100%;
            text-align: center;
        }
    }
    .separator {
        font-size: 5rem;
        margin: 0 5px;
        line-height: 8rem;
    }
}
