@import '../../style/mixin.scss';

.text {
    width: 224px;
    height: 300px;

    min-width: 224px;
    min-height: 300px;

    left: 40%;
    top: 57%;

    div, span {
        -webkit-user-select: auto; /* Safari */
        -ms-user-select: auto; /* IE 10 and IE 11 */
        user-select: auto; /* Standard syntax */
    }

    .wrapper {
        width: 100%;
        height: calc( 100% - 45px);
        display: inline-flex;
        flex-direction: column;
    }
    .title {
        display: block;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: var(--color-concrete);
        padding: 5.5px 12px 16px;
        font-weight: bold;
        font-size: var(--font-size-label);
    }
    .toolbar {
        background: var(--color-concrete);
        padding: 5px;
        display: none;
    }

    .editor {
        background: var(--color-white);
        flex-grow: 2;
        margin: 0 12px 12px;
        height: 75px;
    }

    &.focused {
        .toolbar {
            display: flex;
        }
    }
    @include breakpoint(medium) {
        width: 350px;
        .title {
            padding: 9px 18px 15px;
        }
        .wrapper {
            height: calc( 100% - 50px);
        }
    }
    @include breakpoint(large) {
        width: 440px;
        .title {
            padding: 13px 24px 18px;
        }
        .wrapper {
            height: calc( 100% - 60px);
        }
    }
}

:global {
    .rdw-clipAction-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        position: relative;
        flex-wrap: wrap;

        img {
            height: 16px;
        }
    }

    .public-DraftStyleDefault-ltr {
        font-size: 14px;
        @include breakpoint(medium) {
            font-size: 22px;
        }
        @include breakpoint(large) {
            font-size: 27px;
        }
    }
    .public-DraftEditor-content {
        cursor: text;
    }
    .rdw-option-wrapper {
        min-width: 25px;
        height: 20px;
        padding: 3px;
    }

    .rdw-option-active {
        background: var(--color-silverChalice);
    }
}