.text {
    width: 400px;
    .wrapper {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
    }
    .title {
        display: block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: var(--color-concrete);
        padding: 15px 25px 10px;
        font-weight: bold;
    }
    .toolbar {
        background: var(--color-concrete);
        padding: 15px 25px;
        display: none;
    }

    .editor {
        background: var(--color-white);
        flex-grow: 2;
        margin: 0 25px 25px;
        height: 150px;
    }

    &.focused {
        .toolbar {
            display: flex;
        }
    }
}