@import "../../style/mixin.scss";

.tile {
    position: relative;
    width: 100px;
    padding: 0px;
    margin: 10px;
    text-align: center;
    cursor: pointer;

    @include flexAlignCenter;
    flex-direction: column;


    &.active {
        .tileButton {
            background: var(--color-hover_background);
            border-color: var(--color-hover_background);

            svg {
                @include svgStroke(var(--color-hover_font));
            }
        }
        
        color: var(--color-hover_background);
    }

    .tileButton {
        @include buttonReset;
        border: 6px solid var(--color-gallery);
        border-radius: 15px;

        svg {
            @include svgStroke(var(--color-primary_font));
            height: 66px;
            width: 66px;
        }
    }

    .tileLabel {
        margin: 10px 0 5px;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    @include breakpoint(extralargedesktop) {
        width: 105px;
        .tileButton {
            svg {
                height: 96px;
                width: 96px;
            }
        }
    }

    @include breakpoint(desktop) {
        width: 50px;
        margin: 4px;
        .tileButton {
            border-width: 3px;
            border-radius: 12px;
            svg {
                height: 38px;
                width: 38px;
            }
        }
    }
}
