@import "../../style/mixin.scss";

.tile {
    position: relative;
    width: 150px;
    padding: 5px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
    
    &.active {
        .tileButton {
            background: var(--color-hover_background);
            border-color: var(--color-hover_background);

            svg {
                @include svgStroke(var(--color-hover_font));
            }
        }
        
        color: var(--color-hover_background);
    }

    .tileButton {
        @include buttonReset;
        
        border: var(--color-symbolBorder);
        border-radius: 15px;

        svg {
            @include svgStroke(var(--color-primary_font));
            height: 86px;
            width: 86px;
        }
    }

    .tileLabel {
        margin: 10px 0 5px;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
