@import "../../style/mixin.scss";

.tile {
    position: relative;
    width: 48px;
    padding: 0px;
    text-align: center;
    cursor: pointer;

    font-size: var(--font-size-normal);
    @include flexAlignCenter;
    flex-direction: column;


    &.active {
        .tileButton {
            background: var(--color-hover_background);
            border-color: var(--color-hover_background);

            svg {
                @include svgStroke(var(--color-hover_font));
            }
        }
        
        color: var(--color-hover_background);
    }

    .tileButton {
        @include buttonReset;
        border: 3px solid var(--color-gallery);
        border-radius: 10px;

        svg {
            @include svgStroke(var(--color-primary_font));
            height: 36px;
            width: 36px;
        }
    }

    .tileLabel {
        margin: 10px 0 5px;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    @include breakpoint(medium) {
        width: 82px;
        .tileButton {
            border-radius: 15px;
            border-width: 6px;

            svg {
                width: 55px;
                height: 55px;
            }
        }
    }

    @include breakpoint(large) {
        width: 100px;
        .tileButton {
            svg {
                height: 70px;
                width: 70px;
            }
        }
    }
}
