.radioWrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 32px;
    cursor: pointer;
    font-size: 22px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        z-index: 1;
        width: 30px;
        height: 30px;
        margin: 0px;
        padding: 0px;

        &:checked {
            ~ .checkmark {
                background-color: transparent;

                &:after {
                    display: block;
                }
            }
        }
    }

    &:hover {
        .checkmark {
            background-color: var(--color-white);
        }
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-color: var(--color-blazeOrange);
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

    &:after {
        content: "";
        position: absolute;
        display: none;
        top: 5px;
        left: 5px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: var(--color-blazeOrange);
    }
}
.radio {
    margin: 15px;
}
