.timer {
    display: inline-flex;
    padding: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    min-width: 485px;
    width: 485px;

    .row {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        flex-flow: wrap row;
        padding: 25px 0;
        &:first-child {
            border-bottom: 1px solid;
        }
    }
    .label {
        width: 100%;
        font-size: 24px;
        cursor: pointer;
    }

    .controlPanel {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: 0 auto;
    }

    .disabled {
        pointer-events: none;
        opacity: .5;
    }
}
