.timer {
    padding: 25px;

    min-width: 420px;
    min-height:265px;

    .titleRow {
        font-weight: bold;
    }

    .labelRow {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px; 

        label {
            color: var(--color-silver);
            &.active {
                color: var(--color-tundora);
            }

        }
    }

    .row {
        margin-top: 15px;
    }
    //     display: inline-flex;
    //     flex-direction: row;
    //     align-items: center;
    //     position: relative;

    //     flex-flow: wrap row;
    //     padding: 25px 0;
    //     &:first-child {
    //         border-bottom: 1px solid;
    //     }
    // }
    // .label {
    //     width: 100%;
    //     font-size: 24px;
    //     cursor: pointer;
    // }

    .controlPanel {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: 20px auto 0;
    }

    // .disabled {
    //     pointer-events: none;
    //     opacity: .5;
    // }
}
