@import "../../style/mixin.scss";

.timer {
    padding: 3px 20px 11px 14px;

    min-width: 145px;
    min-height:152px;

    left: calc( 95% - 180px);
    top: 2%;

    .titleRow {
        font-weight: bold;
    }

    .labelRow {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 17px; 

        label {
            color: var(--color-silver);
            font-size: var(--font-size-label);
            &.active {
                color: var(--color-tundora);
            }

        }
    }

    .row {
        margin-top: 11px;
    }

    .controlPanel {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 12px auto 0;
    }


    @include breakpoint(medium) {
        padding: 12px 20px 15px;
        min-width: 236px;
        min-height:210px;
        left: calc( 89% - 180px);
        top: 2%;
        .labelRow {
            label {
                font-size: 20px;
            }
        }
    }

    @include breakpoint(large) {
        padding: 15px 25px;
        min-width: 298px;
        min-height:264px;

        .labelRow {
            label {
                font-size: 25px;
            }
        }
        .row {
            margin-top: 22px;
        }
        .controlPanel {
            margin: 24px auto 0;
        }
    }
}
