.randomNumber {

    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    flex-grow: 1;
    // border: 1px solid;
    width: 100%;

    .row {
        flex-grow: 1;
        margin: 10px 0;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }
    .col {
        margin: 0 15px;
    }
    
    .numberSymbol {
        flex-grow: 2;
        min-height: 72px;
    }

    .numberInput {
        label {
            font-weight: bold;
            font-size: 18px;
            color: var(--color-dustyGray);
        }
        span {
            font-weight: 400;
        }
        input {
            width: 40px;
            height: 30px;
            margin-left: 15px;
            text-align: center;
        }
    }

    .numberOutput {
        display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    }
    :global {
        .DigitRoll__Out {
            position: absolute;
            height: 50px;
            overflow: hidden;
        }
    }

    .numberBox {

        :global {
            .DigitRoll__Cell {
                // position: relative;
                border: 1px solid var(--color-gray);
                // width: 35px !important;
                // height: 35px !important;
                background: linear-gradient( var(--color-white), var(--color-gray));
                display: inline-block;
                text-align: center;
                font-weight: bold;
                font-size: 26px;
                line-height: 36px;
            }
        } 
        
    }
}