.randomNumber {

    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    flex-grow: 1;
    // border: 1px solid;

    .row {
        flex-grow: 1;
        margin: 10px 0;
    }
    
    .numberSymbol {
        flex-grow: 2;
        min-height: 72px;
    }

    .numberInput {
        input {
            width: 50px;
            margin-left: 10px;
        }
    }

    .numberOutput {
        display: inline-flex;
    justify-content: center;
    align-items: center;
    }

    .numberBox {

        :global {
            .DigitRoll__Cell {
                // position: relative;
                border: 1px solid #999;
                // width: 35px !important;
                // height: 35px !important;
                background: linear-gradient( #FFF, #999);
                display: inline-block;
                text-align: center;
                font-weight: bold;
                font-size: 26px;
                line-height: 36px;
            }
        } 
        
    }
}