@import '../../style/mixin.scss';

.holder {
    position: absolute;
    background: var(--color-primary_background);
    box-shadow: 0px 0px 10px 1px var(--color-boxShadow);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 10px;
    font-size: 12px;
    
    &.dragging {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }


    &.active {
        overflow: visible !important;
        &::after {
            content: ' ';
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            position: absolute;
            left: -5px;
            top: -5px;
            background: var(--color-white_2);
            border-radius: 14px;
            z-index: -1;
        }

        .button {
            display: inline-flex;
        }
    }

    // &:before{
    //     // content: ' ';
    //     position: absolute;
    //     bottom: 1px;
    //     right: 1px;
    //     width: 0;
    //     height: 0;
    //     border-bottom: 15px solid var(--color-black);
    //     border-left: 15px solid transparent;
    //     z-index: 1;
    //     pointer-events: none;
    // }

    .resizeHandle {
        position: fixed;
        bottom: 0px;
        right: 3px;
        cursor: se-resize;
        svg {
            width: 11px;
            @include svgStroke(var(--color-dustyGray));
            @include svgFill(var(--color-dustyGray));
        }

        &.leftSide {
            right: unset;
            left: 3px;
            transform: rotate(90deg);
            cursor: sw-resize;
        }
    }

    &:focus {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .button {
        @include buttonReset;
        @include flexAlignCenter;
        
        display: none;
        position: absolute;
        top: 3px;
        z-index: 10;
        // background: var(--color-close_background);
        border-radius: 50%;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        padding: 0px;
        svg {
            width: 100%;
          } 
    }

    .helpButton {
        right: 24px;
    }

    .closeButton {
        right: 2px;
    }

    @include breakpoint(medium) {
        border-radius: 15px;
        &.active {
            &::after {
                width: calc(100% + 20px);
                height: calc(100% + 20px);
                position: absolute;
                left: -10px;
                top: -10px;
                border-radius: 20px;
            }
        }
        .button {
            width: 30px;
            height: 30px;
            top: 5px;
        }
        .closeButton {
            right: 4px;
        }
        .helpButton {
            right: 40px;
        }
        .resizeHandle {
            right: 4px;
            svg {
                width: 17.5px;
            }
        }
    }
    @include breakpoint(large) {
        &.active {
            &::after {
                width: calc(100% + 24px);
                height: calc(100% + 24px);
                position: absolute;
                left: -12px;
                top: -12px;
            }
        }
        .button {
            width: 38px;
            height: 38px;
            top: 6px;
        }
        .closeButton {
            right: 5px;
        }
        .helpButton {
            right: 50px;
        }
        .resizeHandle {
            right: 5px;
            svg {
                width: 22px;
            }
        }
    }
}

:global {
    .rc-tooltip {
        max-width: 350px;
        font-size: var(--font-size-normal);
        cursor: default;
    }
}