@import '../../style/mixin.scss';

.imageGallary {
    position: relative;
    width: 376px;
    padding: 10px;
    
    .dropdownWrapper {
        @include flexAlignCenter;
        gap: 20px;
        margin: 20px 15px 0;

        .dropdown {
            flex-grow: 2;
        }
    }

    .imageWrapper {
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-direction: column;


        img {
            width: 100%;
            border-radius: 10px;
        }
    
        .frameWrapper {
            width: 100px;
        }
    
        .frameImage {
            position: relative;
            width: auto !important;
            // padding-top: 62.5%;
            margin: 2%;
        }
    
        .frameColor {
            position: relative;
            padding-top: 62.5%;
            margin: 2%;
        }
    }

    .previewImage {
        margin: 15px 0;
    }

    @include breakpoint(medium) {
        width: 550px;
    }
    @include breakpoint(large) {
        width: 765px;
    }
}

:global {
    .slick-prev, .slick-next {
        background: var(--color-black_5);
        z-index: 11;
        width: 25px;
        height: 100%;
    }
    .slick-prev:before, .slick-next:before {
        background: var(--color-black_5);
        color: var(--color-white);
        opacity: 1;
    }
    .slick-prev {
        left: 0px;
    }
    .slick-next {
        right: 0px;
    }
}