
.reel {
    position: relative;
    width: 100%;
    
    .title {
        margin: 15px 0;
    }

    padding-bottom: 15px;
    border-bottom: 1px solid #999;

    :global { 
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }   
    }

    img {
        width: 100%;
    }

    .frameWrapper {
        width: 100px;
    }

    .frameImage {
        position: relative;
        width: auto !important;
        // padding-top: 62.5%;
        margin: 2%;
    }

    .frameColor {
        position: relative;
        padding-top: 62.5%;
        margin: 2%;
    }
}