@import '../../style/mixin.scss';

.sideControls {
    position: fixed;
    top: 15px;
    left: 100%;
    display: inline-block;
    background: var(--color-primary_background);
    
    &.open {

        left: unset;
        right: 0px;

        .trigger {
            svg {
                transform: rotate(90deg);
            }
        }
    }

    .trigger {
        cursor: pointer;
        position: absolute;
        width: 25px;
        height: 100%;
        left: -27.5px;
        overflow: hidden;

        .triggerBG {
            @include flexAlignCenter;
            position: relative;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: var(--color-primary_background);
        }
        svg {
            transform: rotate(-90deg);
            position: relative;
            left: -14px;
            width: 24px;
        }
    }
    .itemWrapper {
        @include flexAlignCenter;
    }
    .item {
        @include flexAlignCenter;
        padding: 12px 0;
        height: 32px;

        svg {
            height: 30px;
        }
        .inner {
            text-align: center;
            border-right: 1px solid var(--color-border);
            padding: 0 10px;
            width: 60px;
        }
        &:last-child {

            .inner {
                border-right: none;
            }
        }
    }

    

    .disabled {
        opacity: .35;
        pointer-events: none;
    }

    .screenLock {
        display: none;
    }
    .copyRight {
        .inner {
            width: 45px;
        }
    }
    .handle {
        @include flexAlignCenter;
        width: 30px;
        cursor: -webkit-grab;
        cursor: grab;

        
    }

    &.grabbing {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
    .dropdownWrapper {
        width: 75px;
        // padding: 0;

        .dropdown {
            width: 100%;
        }
    }

    
}