@import '../../style/mixin.scss';

.whoIsNext {

    padding: 35px 45px;
    display: inline-flex;
    flex-direction: row;

    top: 29%;
    left: 33%;

    &.firstStep {
        .panel {
            &::before {
                display: none;
            }
        }
    }

    .panel {
        position: relative;
    }
    .controlPanel {
        padding-right: 65px; 
        &::before {
            content: ' ';
            width:100%;
            height: 13px;
            border-bottom: 1px dashed;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .inputPanel {
        flex-grow: 2;
        padding-right: 0;
    }

    .step {
        position: absolute;
        top: 0px;
        left: 0px;

        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--color-white);
        border: 1px solid var(--color-limeade);
        color: var(--color-limeade);
        text-align: center;
        font-weight: bold;
        line-height: 28px;
    }

    .title {
        margin: 45px 0 15px;
        font-weight: bold;
        color:var(--color-gray);
    }

    .stageButton {
        opacity: 0.6;

        &.selected {
          opacity: 1;  
        }
    }

    .textarea {
        width: 100%;
        height: 175px;
        resize: none;
    }

    .input {
        width: 45px;
        height: 30px;
    }

    .controls {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        // width: 350px;

        label {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 15px;
            gap: 8px; 
            font-weight: bold;
            cursor: pointer;
        }
    }

    .buttomWrapper {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        // width: 325px;
        gap: 6px;

    }

    .importButton {
        padding: 10px 15px;
        border-radius: 18px;
        cursor: pointer;
        display: inline-block;
        line-height: 1;
        font-weight: bold;
        color: var(--color-white);
        background-color: var(--color-cerulean);
        font-size: var(--font-size-button);

        input {
            display: none;
        }

        &.disabled {
            color: var(--color-white);
            background-color: var(--color-silver);
            pointer-events: none;
        }

        @include breakpoint(medium) {
            padding: 12px 22px;
        }
    }

    &.popUpBox {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50% , -50%) !important;
        width: auto !important;
        height: auto !important; 
        padding: 75px 65px 65px;
        flex-direction: column;
    }

    .subtitle {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        max-width: 375px;
        word-wrap: break-word;

        svg {
            height: 50px;
        }
    }

    .question {
        font-size: 20px;
        width: 100%;
        display: block;
        margin: 20px 0;
    }

    .actionWrapper {
        margin-top: 25px;
        @include flexAlignCenter;
        button {
            margin: 0 10px;
            &:first-child {
              margin-left: 0px;   
            }
        }
    }

    .tableBreak {
        page-break-before: always,
    }
    
    .tableRow {
        page-break-before: avoid,
    }

    .output{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}