@import "../../style/mixin.scss";

.button {
    border: 0;
    border-radius: 55px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-weight: bold;

    &.button--primary {
        color: var(--color-white);
        background-color: var(--color-bahamaBlue);   
        &:hover {
            background-color: var(--color-hover_background);
        }
    }
    &.button--secondary {
        color: var(--color-white);
        background-color: var(--color-cerulean);
        // box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
        &:hover {
            background-color: var(--color-hover_background);
        }
    }
    &.button--small {
        font-size: 12px;
        padding: 10px 16px;
    }
    &.button--medium {
        font-size: var(--font-size-button);
        padding: 8px 14px;

        @include breakpoint(medium) {
            padding: 12px 22px;
        }
    }
    &.button--large {
        font-size: 16px;
        padding: 12px 24px;
    }

    &.button--disabled {
        color: var(--color-white);
        background-color: var(--color-silver);
        pointer-events: none;
    }

    
  }
  
  