.noiseLevel {
    min-width: 296px;
    min-height: 324px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 35px;
    gap: 35px;

    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .leftPanel {
        flex-grow: 2;
    }

    input[type="text"] {
        width: 45px;
        height: 32px;
        border-radius: 5px;
        border-width: 1px;
        text-align: center;
    }
    .progressWrapper {

        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        
        .progressBar {
            display: inline-block;
            width: 45px;
            height: 76%;
            border: 1px solid var(--color-border);
            border-radius: 5px;
            position: relative;
            .bar {
                position: absolute;
                bottom: 0px;
                width: 100%;
            }
            .primaryBar {
                height: 20%;
                background: var(--color-limeade);
            }
            .secondaryBar {
                height: 80%;
                background: var(--color-teaGreen);
            }
        }
        .counterWrapper {
            position: relative;
            margin-top: 18px;
            display: inline-flex;
            flex-direction: column;

            span {
                display: inline-block;
                margin-top: 8px;
            }
        }

    }

    .sensitivityWrapper {
        padding: 5px;
        
        .optionWrapper {
            margin-top: 10px;
        }

        label {
            position: relative;
            // margin-right: 55px;
        }
        span {
            position: absolute;
            top: 120%;
            left : 50%;
            transform: translate(-50%, 0);
        }
    }

    .warningInputWrapper {
        margin: 45px 0 25px;
        input {
            width: 100%;
            font-size: 12px;
            min-width: 205px;
        }
    }

    .bottomPanel {
        justify-content: center;
        padding-bottom: 0px;
    }
}