@import "../../style/mixin.scss";

.signal {
    position: relative;
    width: 55%;
    height: 24%;
    border-radius: 50%;
    border: 2px solid var(--color-gray);
    cursor: pointer;
    // opacity: 0.75;
    &:hover {
        border: 2px solid var(--color-mineShaft);
    }

    &.active {
        // opacity: 1;

        &.red {
            background: var(--color-redSignalActive);
        }
        &.yellow {
            background: var(--color-yellowSignalActive);
        }
        &.green {
            background: var(--color-greenSignalActive);
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &.red {
        background: var(--color-redSignal);
        &:before {
            box-shadow: var(--color-redSignalActive) 0 0 10px 8px;
        }
    }

    &.yellow {
        background: var(--color-yellowSignal);
        &:before {
            box-shadow: var(--color-yellowSignalActive) 0 0 10px 8px;
        }
    }

    &.green {
        background: var(--color-greenSignal);
        &:before {
            box-shadow: var(--color-greenSignalActive) 0 0 10px 8px;
        }
    }

    // @include breakpoint(medium) {
    //     width: 42px;
    //     height: 42px;
    // }

    // @include breakpoint(large) {
    //     width: 53px;
    //     height: 53px;
    // }
}
