@import "../../style/mixin.scss";

.qrcode {
    display: inline-flex;
    flex-direction: column;
    min-width: 128px;
    min-height: 82px;
    padding: 3px 12px 12px;
    width: 128px;
    
    top: 43%;
    left: 3%;

    align-items: center;

    &.withQR {
        min-height: 235px;
    }
    .title {
        font-weight: bold;
        text-align: left;
        width: 100%;
    }

    .subtitle {
        font-size: 7px;
        margin: 10px 0;
    }

    .input {
        width: 100%;
        font-size: 12px;
        color: var(--color-primary_font);
    }

    .qrContainer {
        margin: 10px 0;
        width: 100%;
        max-height: calc(100% - 126px);
        // background: url('../../assets/images/capture.svg');
        // background-position: center;
        // background-size: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 75%;
            height: 75%;
            margin: 15px auto;
        }
    }

    .printWrapper {
        display: none;
    }

    .printPage {
        margin: 25px;
        padding: 25px;
        border : 1px solid;
    }

    @include breakpoint(medium) {
        min-width: 196px;
        min-height: 130px;
        padding: 11px 22px 18px;
        width: 196px;

        .subtitle {
            font-size: 13px;
            margin: 16px 0;
        }
    
        .input {
            font-size: 18px;
        }
    }

    @include breakpoint(large) {
        min-width: 248px;
        min-height: 160px;
        padding: 14px 26px 22px;
        width: 248px;

        .subtitle {
            font-size: 16px;
            margin: 21px 0;
        }
    
        .input {
            font-size: 22px;
        }

    }
}
