
@mixin buttonReset {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin flexAlignCenter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin svgStroke($color) {
  line, path, circle, polyline, rect {
    stroke: $color;
  }
}

@mixin svgFill($color) {
  line, path, circle, polyline, rect {
    fill: $color;
  }
}