.number {
    
    padding: 25px;

    width: 465px;
    height:235px;
    
    .labelRow {
        text-align: center;

        .labelContainer {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 60%;
            margin-top: 20px;

            label {
                color: var(--color-silver); 
                font-size: 22px;
                &.active {
                    color: var(--color-tundora);
                }

            }
        }
    }
    .row {
        margin-top: 15px;
        width: 100%;
    }
}