@import "../../style/mixin.scss";

.number {
    
    width: 215px;
    height: 170px;


    min-width: 215px;
    min-height: 170px;

    top: 20%;
    left: 3%;
    
    
    .labelRow {
        margin-top: 15px;
        text-align: center;

        .labelContainer {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 60%;
            margin-top: 20px;

            label {
                color: var(--color-silver); 
                font-size: 13px;
                &.active {
                    color: var(--color-tundora);
                }

            }
        }
    }
    .row {
        margin-top: 15px;
        width: 100%;
    }
    @include breakpoint(medium) {
        width: 335px;
        height: 265px;
        min-width: 335px;
        min-height: 265px;
        border-radius: 15px;
        .labelRow {
            .labelContainer {
            label {
                font-size: 20px;
            }
        }
        }

    }
    @include breakpoint(large) {
        width: 422px;
        height: 332px;
        min-width: 422px;
        min-height: 332px;
        .labelRow {
            .labelContainer {
                label {
                    font-size: 25px;
                }
            }
        }
        
    }
}