@import "../../style/mixin.scss";

.colorPicker {
    display: inline-flex;
    flex-direction: column;
    padding: 25px;
    gap:20px;
    
    .title {
        font-size: 20px;
        flex-grow: 2;
    }
    .subtitle {
        font-size: 16px;
    }

    .pickColorWrapper {
        flex-grow: 2;
        margin: 10px 0 0;

        img {
            margin: 20px;
        }
    }

    .html5ColorWrapper {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        flex-grow: 2;

        input {
            flex-grow: 2;
        }
    }

    .divpreview {
        border: 1px solid #e3e3e3;
        width: 80px;
        height: 20px;
        margin: auto;
        visibility: hidden;
    }
    @include breakpoint(medium) {

    }
    @include breakpoint(large) {
           
    }
}