@import '../../style/mixin.scss';

.menu {
    position: absolute;
    z-index: 100;
    bottom: -1px;
    width: 100%;
    text-align: center;
    height: 0;

    .bottomBar {
        width: 100%;
        display: flex;
    }

    .bottomColoum {
        width: 50%;
        display: inline-flex;
        justify-content: flex-end;
        position: relative;
        &:last-child {
            justify-content: flex-start;
        }

    }

    .menuTriggerWrapper {
        position: absolute;
        top: -94px;
        left: 50%;
        width: 50px;
        height: 25px;
        margin-left: -25px;
        border-radius: 80px;
        box-shadow: var(--box-shadow);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        // opacity: 0.6;
        transition: .35s all;
        overflow: hidden;

        .menuTriggerContainer {
            position: relative;
            width: 50px;
            height: 50px;
            background: var(--color-primary_background);
            border-radius: 50%;
        }

        svg {
            @include svgStroke(var(--color-primary_font));
            @include svgFill(var(--color-primary_font));
        }

        &:hover {
            opacity: 1;
        }

        &.open {
            top: -25px;
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .menuTrigger {
        @include buttonReset;
        width:  38px;
        position: relative;
        top: 5px;
        z-index: 1;
    }

    .menuItemContent {
        display: inline-block;
    }

    .menuWrapper {
        @include flexAlignCenter;
        flex-direction: row;
        background: var(--color-primary_background);
        box-shadow: var(--box-shadow);
        // padding: 10px 0;
        margin: 0 1px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
        top: 0;
        transition: .35s all;
        // box-shadow: 0px 0px 10px 0px var(--color-boxShadow);

        &.open {
            top: -66px;
        }
    }

    .menuItemWrapper {
        text-align: center;
        padding: 6px 0;

        &:hover {
            background: var(--color-hover_background);
            .menuItem {
                color: var(--color-hover_font);
            }
            .icon {
                @include svgStroke(var(--color-hover_font));
            }
            
        }
        &:first-child {
            .menuItemContainer {
            border-left: none;
            }
        }
    }

    .menuItemContainer {
        min-width: 62px;
        border-left: 1px solid var(--color-border);
    }

    .menuItem {
        @include buttonReset;
        color: var(--color-primary_font);
        cursor: pointer;
        font-size: 8px;

        &:hover {
            color: var(--color-hover_font);
        }
    }

    .icon {
        height: var(--icon-size);
        width: var(--icon-size);
        background: transparent;
        @include svgStroke(var(--color-primary_font));
    }

    .menuItemLabel {
        word-break: break-all;
        height: calc(var(--font-size-normal) * 1.5);
    }


    @include breakpoint(medium) {
        .menuWrapper {
            &.open {
                top: -75px;
            }
        }
        // .menuTriggerWrapper {
        //     top: -108px;
        // }


        .menuTriggerWrapper {
            top: -108px;
            width: 60px;
            height: 30px;
            margin-left: -30px;

            .menuTriggerContainer {
                width: 60px;
                height: 60px;
            }
            &.open {
                top: -30px;
            }
        }
        .menuTrigger {
            width: 50px;
            top: 5px;
        }

        .menuItem {
            font-size: 13px;
        }
        .menuItemWrapper {
            padding: 10px 0;
        }
        .menuItemContainer { 
            min-width: 75px;
        }
    }

    @include breakpoint(large) {
        .menuWrapper {
            &.open {
                top: -126px;
            }
        }
        .menuTriggerWrapper {
            top: -175px;
            margin-left: -45px;
            width: 90px;
            height: 45px;

            .menuTriggerContainer {
                width: 90px;
                height: 90px;
            }
            &.open {
                top: -45px;
            }
        }
        .menuTrigger {
            width: 65px;
            top: 10px;
        }
        .menuItem {
            font-size: 16px;
        }
        .icon {
            width: 72px;
            height: 72px;
        }
        .menuItemWrapper {
            padding: 15px 0;
        }
        .menuItemContainer { 
            min-width: 120px;
            border-width: 2px;
        }
    }
}