@import '../../style/mixin.scss';

.menu {
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 0;

    .menuTriggerWrapper {
        position: absolute;
        top: -121px;
        left: 50%;
        width: 60px;
        height: 30px;
        margin-left: -30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        // opacity: 0.6;
        transition: .35s all;
        overflow: hidden;

        .menuTriggerContainer {
            position: relative;
            width: 60px;
            height: 60px;
            background: var(--color-primary_background);
            border-radius: 50%;
        }

        svg {
            @include svgStroke(var(--color-primary_font));
            @include svgFill(var(--color-primary_font));
        }

        &:hover {
            opacity: 1;
        }

        &.open {
            top: -30px;
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .menuTrigger {
        @include buttonReset;
        width: 50px;
        position: relative;
        top: 5px;
        z-index: 1;
    }

    .menuItemContent {
        display: inline-block;
    }

    .menuWrapper {
        @include flexAlignCenter;
        flex-direction: row;
        background: var(--color-primary_background);
        // padding: 10px 0;
        margin: 0 2px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
        top: 0;
        transition: .35s all;
        // box-shadow: 0px 0px 10px 0px var(--color-boxShadow);

        &.open {
            top: -88px;
        }
    }

    .menuItemWrapper {
        padding: 0 5px;
        text-align: center;
        padding: 10px 0;

        &:hover {
            background: var(--color-hover_background);
            .menuItem {
                color: var(--color-hover_font);
            }
            .icon {
                @include svgStroke(var(--color-hover_font));
            }
            
        }
        &:first-child {
            .menuItemContainer {
            border-left: none;
            }
        }
    }

    .menuItemContainer {
        min-width: 90px;
        border-left: 1px solid var(--color-border);
    }

    .menuItem {
        @include buttonReset;
        color: var(--color-primary_font);
        cursor: pointer;

        &:hover {
            color: var(--color-hover_font);
        }
    }

    .icon {
        height: var(--icon-size);
        width: var(--icon-size);
        background: transparent;
        @include svgStroke(var(--color-primary_font));
    }
}