.webcam {
    min-width: 80px;
    min-height: 290px;
    display: inline-flex;
    flex-direction: row;
    direction: rtl;
    position: fixed;
    top: 40%;
    right: 20px;
    left: unset;
    transform: translate( 0 , 0) !important;
    &:before{
        right: unset;
        left: 0px;
        border-bottom: 15px solid var(--color-black);
        border-left:none;
        
        border-right: 15px solid transparent;
    }
    &.webCamOn {
        top: 15%;
    }
    .screen {
        flex-grow: 2;
        height:480px;
        position: relative;

        &.cursorModeOn {
            cursor: none;
        }
    }

    .controlPanel {
        flex-grow: 1;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        margin-top: 25px;
        div {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid;
            width: 60px;
            text-align: center;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }

            cursor: pointer;
            svg {
                cursor: pointer;
            }
        }
        .icon {
            &.active {
                path, circle {
                stroke: var(--color-hover_font);
                fill: var(--color-hover_background);
                }
            }
        }
        .webCamIcon {
            width: 60px;
        }
        .cursorIcon {
            width: 20px;
        }
        .screenShotIcon {
            width: 40px;
        }
    }

    .disable {
        opacity: 0.35;
        pointer-events: none;
    }

    .cursor {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 10;

        svg {
            width: 15px;
            path {
                stroke: var(--color-white);
            }
        }
    }
}