@import "../../style/mixin.scss";

.numberBox {
    position: relative;
    border: 1px solid #999;
    width: 25px;
    height: 25px;
    background: linear-gradient( #FFF, #999);
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;

    @include breakpoint(medium) {
        width: 32px;
        height: 32px;
        font-size: 32px;
        line-height: 32px;
    }
    @include breakpoint(large) {
        width: 45px;
        height: 45px;
        font-size: 45px;
        line-height: 45px;
        
    }
}