@import "../../style/mixin.scss";

.background {
    display: inline-flex;

    flex-direction: row;

    padding: 10px;
    background: var(--color-white_4);
    gap: 10px;

    .panel {
        background: var(--color-white);
        flex-grow: 1;
        border-radius: 10px;
    }

    &.active {
        padding: 0px;
    }
    
    // global {
    //     .slick-prev:before,
    //     .slick-next:before {
    //         color: black;
    //     }
    // }
    @include breakpoint(medium) {

    }
    @include breakpoint(large) {
           
    }
}
