.teacher {
    display: inline-flex;
    flex-direction: row;
    min-width: 276px;
    min-height: 268px;
    .col {
        flex-grow: 1;
        position: relative;
    }

    .backRod {
        position: absolute;
        width: 8%;
        height: 50%;
        border: 3px solid var(--color-gray);
        border-bottom: none;
        bottom: 0px;
        left: 46%;

        border-top-right-radius: 25%;
        border-top-left-radius: 25%;
    }

    .signalWrapper {
        position: absolute;
        width: 70%;
        height: 86%;
        background: var(--color-white);
        left: 15%;
        top: 7%;

        border: 3px solid var(--color-gray);
        border-radius: 35px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .lightWrapper {
        min-width: 140px;
        // flex-grow: 2;
    }

    .labelWrapper {
        flex-grow: 1;
        width: 50%;
    }
    .labelContainer {
        position: absolute;
        width: 100%;
        height: 86%;
        top: 7%;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;

        div {
            border-bottom: 1px solid var(--color-border); 
            padding: 20px 10px;
            margin: 0 10px;
            &:last-child {
                border: none;
            }
        }

    }
    .redActive {
        color: var(--color-redSignalActive);
    }
    .yellowActive {
        color: var(--color-yellowSignalActive);
    }
    .greenActive {
        color: var(--color-greenSignalActive);
    }
}
